/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ===========   END NORMALIZE =========== */
/* ============ MIXINS ============= */
.unstyle-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyle-list li:before {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-center {
  text-align: center;
}

/* ============ END MIXINS ============= */
h1, h2, h3, h4, h5, h6 {
  color: #162419;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

h1, h3 {
  font-weight: 500;
}

h1, h2 {
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
}
@media (min-width: 320px) {
  h1, h2 {
    font-size: calc(28px + 8 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  h1, h2 {
    font-size: 36px;
  }
}
@media (min-width: 320px) {
  h1, h2 {
    line-height: calc(30px + 12 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  h1, h2 {
    line-height: 42px;
  }
}

h3 {
  font-size: 26px;
  line-height: 28px;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 320px) {
  h3 {
    font-size: calc(26px + 4 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  h3 {
    font-size: 30px;
  }
}
@media (min-width: 320px) {
  h3 {
    line-height: calc(28px + 8 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  h3 {
    line-height: 36px;
  }
}

h4 {
  font-size: 26px;
  line-height: 28px;
  margin: 0 0 1.6rem 0;
  font-weight: 500;
}
@media (min-width: 320px) {
  h4 {
    font-size: calc(26px + 2 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  h4 {
    font-size: 28px;
  }
}
@media (min-width: 320px) {
  h4 {
    line-height: calc(28px + 8 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  h4 {
    line-height: 36px;
  }
}

h5 {
  font-size: 20px;
  line-height: 22px;
  color: #09987E;
  text-transform: uppercase;
  font-weight: 500;
}
@media (min-width: 320px) {
  h5 {
    font-size: calc(20px + 2 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  h5 {
    font-size: 22px;
  }
}
@media (min-width: 320px) {
  h5 {
    line-height: calc(22px + 3 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  h5 {
    line-height: 25px;
  }
}

h6 {
  font-size: 16px;
  margin: 0 0 1rem 0;
  line-height: 22px;
  font-weight: 500;
}
@media (min-width: 320px) {
  h6 {
    font-size: calc(16px + 2 * (100vw - 320px) / 448);
  }
}
@media (min-width: 768px) {
  h6 {
    font-size: 18px;
  }
}

p {
  font-size: 13px;
  margin-top: 0;
  line-height: 22px;
  font-weight: 400;
}
@media (min-width: 320px) {
  p {
    font-size: calc(13px + 3 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  p {
    font-size: 16px;
  }
}
@media (min-width: 320px) {
  p {
    line-height: calc(22px + 2 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  p {
    line-height: 24px;
  }
}
p:last-child {
  margin-bottom: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  font-size: 14px;
  line-height: 25px;
  list-style: none;
  position: relative;
  padding-left: 2.2rem;
}
@media (min-width: 320px) {
  li {
    font-size: calc(14px + 2 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  li {
    font-size: 16px;
  }
}
@media (min-width: 320px) {
  li {
    line-height: calc(25px + 6 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  li {
    line-height: 31px;
  }
}
li:before {
  content: "\a";
  position: absolute;
  left: 0;
  top: 13px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #09987E;
  display: inline-block;
  border: 1px solid #09987E;
  box-shadow: inset 0px 0px 0px 1px #fff;
}

a {
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}
a:hover, a:link, a:visited {
  text-decoration: none;
}

strong {
  font-weight: 600;
}

/*=============================================
=            Reset css            =
=============================================*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 40.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.9rem;
  color: #7E7D7D;
  background-color: #fff;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

input[type=text],
input[type=search] {
  font-size: inherit;
  line-height: inherit;
}

::selection {
  text-shadow: none;
}

:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

.scroll {
  background-color: #B2D145;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 888;
}
.scroll:after {
  content: "";
  background-image: url("../img/arrow-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 40px;
}
.scroll img {
  width: 13px;
}

/*=============================================
=            BASE            =
=============================================*/
.admin-bar {
  margin-top: 32px;
}

.background-grey {
  background-color: #EFEFEF;
}

.background-green {
  background-color: #09987E;
}

.section {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.section.curve-grey,
.section.curve-white {
  padding-top: 0;
  padding-bottom: 8rem;
}

.line-left {
  position: relative;
}
.line-left:before {
  content: "";
  position: absolute;
  height: 40%;
  width: 2px;
  background-color: #162419;
  left: 0;
  top: 2.5rem;
}
@media (min-width: 320px) {
  .line-left:before {
    top: calc(2.5rem + 1.1 * (100vw - 320px) / 448);
  }
}
@media (min-width: 768px) {
  .line-left:before {
    top: 3.6rem;
  }
}

.border {
  border: 2px solid #162419;
}

.color-green {
  color: #09987E;
}

.section-title .mark {
  background-color: rgba(178, 209, 69, 0.8);
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 22px;
  position: absolute;
  z-index: -2;
  top: 17px;
}

.section-title {
  padding-left: 9px;
  padding-right: 9px;
  position: relative;
  z-index: 999;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.section-header {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section-header h1,
.section-header h2 {
  margin-bottom: 4.5rem;
}
.section-header p {
  margin-bottom: 7rem;
}

.mb-normal {
  margin-bottom: 2rem;
}
@media (min-width: 320px) {
  .mb-normal {
    margin-bottom: calc(2rem + 1.2 * (100vw - 320px) / 1046);
  }
}
@media (min-width: 1366px) {
  .mb-normal {
    margin-bottom: 3.2rem;
  }
}

.mb-big {
  margin-bottom: 7rem;
}
@media (min-width: 320px) {
  .mb-big {
    margin-bottom: calc(7rem + 5 * (100vw - 320px) / 1046);
  }
}
@media (min-width: 1366px) {
  .mb-big {
    margin-bottom: 12rem;
  }
}

.two-columns > div {
  margin-bottom: 2rem;
}
.two-columns > div:last-child {
  margin-bottom: 0;
}

.box-content {
  padding: 2rem;
}
@media (min-width: 320px) {
  .box-content {
    padding: calc(2rem + 1 * (100vw - 320px) / 448);
  }
}
@media (min-width: 768px) {
  .box-content {
    padding: 3rem;
  }
}

.box-img {
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  margin: 0 auto;
}

.big-circle {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.circle-shapes {
  position: relative;
  width: 85%;
  max-width: 385px;
  margin-left: auto;
  margin-right: auto;
}
.circle-shapes .circle-bigger {
  left: -10px;
  bottom: -29px;
  background-color: rgba(193, 218, 106, 0.8);
}
.circle-shapes .circle-small {
  top: 1px;
  left: -4px;
  z-index: 2;
  background-color: rgba(87, 172, 156, 0.8);
}
.circle-shapes .circle-big {
  top: -39px;
  left: 27px;
  background-color: rgba(239, 239, 239, 0.8);
}

.mind-box .box-content {
  padding-top: 4;
  position: relative;
}
@media (min-width: 320px) {
  .mind-box .box-content {
    padding-top: calc(4 + 3 * (100vw - 320px) / 448);
  }
}
@media (min-width: 768px) {
  .mind-box .box-content {
    padding-top: 7rem;
  }
}
.mind-box > div:nth-of-type(1) .box-content {
  margin-bottom: 3rem;
}

.mind-img {
  position: absolute;
  top: -27px;
  right: 25px;
  width: 80px;
}

.site-content {
  overflow: hidden;
  margin-top: 20px;
}

.circle-bigger,
.circle-big,
.circle-small {
  position: absolute;
  border-radius: 100%;
}

.circle-bigger {
  width: 94px;
  height: 94px;
}

.circle-big {
  width: 111px;
  height: 111px;
}

.circle-small {
  width: 64px;
  height: 64px;
  z-index: 2;
}

/*=============================================
=            NAVIGATION            =
=============================================*/
.site-header {
  background-color: #106F5E;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 888;
}
.site-header .container {
  max-width: 1300px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header a {
  color: #fff;
  font-weight: 500;
}
.site-header ul,
.site-header li {
  padding: 0;
}
.site-header li {
  text-align: center;
}
.site-header li a {
  padding: 10px 0;
  display: inline-block;
}
.site-header li:before {
  display: none;
}
.site-header .wpml-ls-legacy-list-horizontal {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.burger {
  cursor: pointer;
}
.burger > div {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
}

.nav-close {
  position: absolute;
  top: 8px;
  right: -7px;
  font-size: 35px;
  color: white;
  transform: rotate(-45deg);
  padding: 20px;
  cursor: pointer;
}

.mobile-wrap {
  position: fixed;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  z-index: 999;
  background: #09987E;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: height 0.5s linear;
}
.mobile-wrap .navbar,
.mobile-wrap .right-menu {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.mobile-wrap.height {
  height: 100%;
  transition: height 0.5s linear;
}
.mobile-wrap.height .navbar,
.mobile-wrap.height .right-menu {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.lang {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}
.lang a {
  font-size: 14px;
  text-transform: uppercase;
}
.lang .wpml-ls-legacy-list-horizontal .wpml-ls-item .wpml-ls-native {
  position: relative;
  margin-right: 7px;
  padding-right: 7px;
}
.lang .wpml-ls-legacy-list-horizontal .wpml-ls-item .wpml-ls-native:before {
  content: "";
  display: inline-block;
  height: 9px;
  width: 1px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.lang .wpml-ls-legacy-list-horizontal .wpml-ls-item:last-child .wpml-ls-native:before {
  display: none;
}
.lang .wpml-ls-legacy-list-horizontal {
  padding: 0;
}

.navbar-brand {
  width: 130px;
}

/*----------  Button  ----------*/
.btn-underline {
  font-size: 14px;
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 28px;
  font-weight: 500;
}

.btn-full {
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  padding: 18px 25px;
  color: #fff;
  display: inline-block;
}
.btn-full svg {
  width: 20px;
}

.btn-arrow {
  position: relative;
  padding-right: 55px;
}
.btn-arrow:after {
  content: "";
  background-image: url("../img/right-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.btn-dark {
  background-color: #162419;
}

.btn-light-green {
  background-color: #B2D145;
  color: #162419;
}

.btn-green {
  background-color: #09987E;
}

.btn-link {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 28px;
  color: #162419;
  font-weight: 500;
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 6px 0;
}

.btn-link_green {
  border-bottom: 2px solid #09987E;
}

.btn-link_light_green {
  border-bottom: 2px solid #B2D145;
}

/*----------  hero section  ----------*/
.hero {
  height: 62vh;
  max-height: 508px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero h1 {
  font-size: 6rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  line-height: 6rem;
  font-weight: 200;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 45px;
}
.hero span {
  color: #162419;
  display: inline-block;
  position: relative;
}
.hero span:after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #B2D145;
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 0;
}
.hero .shape1,
.hero .shape2 {
  position: absolute;
}
.hero .shape1 {
  left: -50px;
  top: -69px;
  width: 200px;
}
.hero .shape2 {
  bottom: -30px;
  right: -45px;
  width: 200px;
}

/*----------  cta box  ----------*/
.cta-box {
  padding: 4.4rem 0;
}
.cta-box * {
  color: #fff;
}
.cta-box h3 {
  margin-bottom: 5px;
}
.cta-box .img {
  margin-bottom: 20px;
}
.cta-box .img img {
  width: 60px;
}
.cta-box .btn-full {
  margin-top: 3rem;
}
.cta-box .row > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*----------  team home  ----------*/
.team .btn-link {
  display: block;
  width: 82px;
  text-align: center;
}
.team .more {
  transition: all 1s cubic-bezier(0, 1, 0, 1);
}
.team .morecontent span {
  display: none;
}
.team .morelink {
  padding: 0;
  margin-top: 3.5rem;
  transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.team-home_box {
  display: inline-block;
  width: 90%;
  overflow: hidden;
  height: 300px;
  transition: all 0.5s ease-in;
}
.team-home_box:before {
  content: "";
  background-color: rgba(16, 111, 94, 0.75);
  position: absolute;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.team-home_box:hover {
  position: relative;
  transition: all 0.5s;
}
.team-home_box:hover:before {
  opacity: 1;
  transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
}
.team-home_box:hover .team-home_content {
  z-index: 4;
  position: relative;
  margin-top: 208px;
}
.team-home_box:hover .team-home_content * {
  color: #fff;
}
.team-home_box:hover .team-home_img {
  height: 100%;
  overflow: initial;
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in;
}
.team-home_box:hover .team-home_img img {
  filter: grayscale(100%);
  height: 300px;
  width: auto;
  max-width: initial;
  transition: all 0.5s ease-in;
}
.team-home_box .team-home_title_box {
  margin-bottom: 3rem;
}
@media (min-width: 320px) {
  .team-home_box .team-home_title_box {
    margin-bottom: calc(3rem + 6 * (100vw - 320px) / 1046);
  }
}
@media (min-width: 1366px) {
  .team-home_box .team-home_title_box {
    margin-bottom: 9rem;
  }
}
.team-home_box .team-home_img {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.team-home_box .team-home_img img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.team-home_box .team-home_content {
  max-width: 150px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.team-home_box .team-home_content h6 {
  color: #09987E;
  line-height: 26px;
  font-weight: 600;
  margin: 12px 0 0px;
}
.team-home_box .team-home_content p {
  font-size: 14px;
}
.team-home_box a {
  display: block;
}
.team-home_box .btn-full {
  margin-top: 3rem;
}
@media (min-width: 320px) {
  .team-home_box .btn-full {
    margin-top: calc(3rem + 3 * (100vw - 320px) / 1046);
  }
}
@media (min-width: 1366px) {
  .team-home_box .btn-full {
    margin-top: 6rem;
  }
}

.about-us > .row:not(:last-child) {
  margin-bottom: 5rem;
}
@media (min-width: 320px) {
  .about-us > .row:not(:last-child) {
    margin-bottom: calc(5rem + 9 * (100vw - 320px) / 1046);
  }
}
@media (min-width: 1366px) {
  .about-us > .row:not(:last-child) {
    margin-bottom: 14rem;
  }
}

/*----------  testimonial  ----------*/
.testimonial {
  background-image: url("../img/green-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.testimonial .shape1,
.testimonial .shape2 {
  position: absolute;
}
.testimonial .shape1 {
  top: -57px;
  left: -30px;
  width: 40%;
  max-width: 326px;
}
.testimonial .shape2 {
  right: -40px;
  bottom: -155px;
  width: 40%;
  max-width: 430px;
}
.testimonial h2 {
  color: #fff;
}
.testimonial h2 .mark {
  background-color: rgba(16, 72, 62, 0.22);
}
.testimonial .testimonial_box {
  background-color: #fff;
  padding: 9rem 4rem 4rem 4rem;
  max-width: 508px;
  margin: 0 auto;
}
.testimonial .fade {
  max-height: 550px;
  overflow: hidden;
}
.testimonial .testimonial_author {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.testimonial .testimonial_author > div:nth-of-type(1) {
  width: 70%;
}
.testimonial .testimonial_author .testimonial_img {
  width: 51px;
  height: 51px;
  box-shadow: -8px 8px 0px -1px #B2D145;
  background-size: cover;
  background-size: no-repeat;
}
.testimonial .paginator {
  margin-top: 3rem;
}
.testimonial blockquote {
  position: relative;
  font-size: 14px;
  color: #162419;
  line-height: 22px;
  padding: 0;
  margin: 0;
  padding-bottom: 3rem;
}
@media (min-width: 320px) {
  .testimonial blockquote {
    padding-bottom: calc(3rem + 3.6 * (100vw - 320px) / 448);
  }
}
@media (min-width: 768px) {
  .testimonial blockquote {
    padding-bottom: 6.6rem;
  }
}
.testimonial blockquote:before {
  content: "";
  background-image: url("../img/blockquote.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 15px;
  top: -37px;
  color: #B2D145;
  z-index: 0;
  transform: translate(-50%, -38%);
}
.testimonial h6 {
  color: #106F5E;
  line-height: 23px;
  font-weight: 600;
  margin: 0;
}
.testimonial p {
  font-size: 14px;
  color: #989898;
}

/*----------  footer  ----------*/
.site-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 320px) {
  .site-footer {
    padding-top: calc(3rem + 2 * (100vw - 320px) / 448);
  }
}
@media (min-width: 768px) {
  .site-footer {
    padding-top: 5rem;
  }
}
@media (min-width: 320px) {
  .site-footer {
    padding-bottom: calc(3rem + 2 * (100vw - 320px) / 448);
  }
}
@media (min-width: 768px) {
  .site-footer {
    padding-bottom: 5rem;
  }
}
.site-footer .container {
  max-width: 1260px;
}
.site-footer .row {
  text-align: center;
}
.site-footer .row > div {
  margin-bottom: 2rem;
}
.site-footer .row > div:last-child {
  margin-bottom: 0;
}
.site-footer strong {
  color: #162419;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}
.social-icon > div {
  background-color: #106F5E;
  cursor: pointer;
  border-radius: 9px;
  width: 36px;
  color: #fff;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13px;
}
.social-icon > div:hover {
  background-color: #106F5E;
  transition: all 0.5s;
  color: #fff;
}

/*----------  slick slider  ----------*/
.pagingInfo {
  font-size: 16px;
  color: #162419;
  font-weight: 500;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.paginator {
  position: relative;
  margin-bottom: 20px;
  max-width: 508px;
  margin: 0 auto;
}
.paginator ul,
.paginator ul.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator li {
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}
.paginator li.prev {
  display: block;
  height: 30px;
  width: 70px;
  background: url("../img/slider-arrow-left.svg") no-repeat;
  background-size: contain;
  margin-right: 20px;
}
.paginator li.next {
  display: block;
  height: 30px;
  width: 70px;
  background: url("../img/slider-arrow-right.svg") no-repeat;
  background-size: contain;
  margin-left: 20px;
}

/*=============================================
=            ABOUT PAGE            =
=============================================*/
.team .team_image {
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
}
.team .team_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team .team_image img {
  width: 100%;
  top: 0;
  transform: translateX(-50%);
}
.team .team_content .subtitle {
  font-size: 14px;
  color: #989898;
}
.team .team_content .btn-link {
  font-size: 12px;
}
.team .row {
  padding: 4rem 0;
  border-bottom: 1px solid rgba(152, 152, 152, 0.3);
}
.team .row:last-of-type {
  border: none;
}

/*=============================================
=            SERVICES            =
=============================================*/
.services {
  position: relative;
}
.services .row {
  margin-bottom: 5rem;
}

.services .row:nth-of-type(4n + 1),
.services-slider .container:nth-of-type(4n + 1) {
  background-color: #162419;
}
.services .row:nth-of-type(4n + 1) h3,
.services .row:nth-of-type(4n + 1) p,
.services .row:nth-of-type(4n + 1) .btn-link,
.services-slider .container:nth-of-type(4n + 1) h3,
.services-slider .container:nth-of-type(4n + 1) p,
.services-slider .container:nth-of-type(4n + 1) .btn-link {
  color: white;
}
.services .row:nth-of-type(4n + 1) .subtitle,
.services-slider .container:nth-of-type(4n + 1) .subtitle {
  color: #09987E;
}
.services .row:nth-of-type(2n + 2),
.services-slider .container:nth-of-type(2n + 2) {
  background-color: #EFEFEF;
}
.services .row:nth-of-type(2n + 2) .subtitle,
.services-slider .container:nth-of-type(2n + 2) .subtitle {
  color: #09987E;
}
.services .row:nth-of-type(3n + 3),
.services-slider .container:nth-of-type(3n + 3) {
  background-color: #09987E;
}
.services .row:nth-of-type(3n + 3) h3,
.services .row:nth-of-type(3n + 3) p,
.services .row:nth-of-type(3n + 3) .btn-link,
.services-slider .container:nth-of-type(3n + 3) h3,
.services-slider .container:nth-of-type(3n + 3) p,
.services-slider .container:nth-of-type(3n + 3) .btn-link {
  color: white;
}
.services .row:nth-of-type(3n + 3) .btn-link,
.services-slider .container:nth-of-type(3n + 3) .btn-link {
  border-color: #B2D145;
}
.services .row:nth-of-type(3n + 3) .subtitle,
.services-slider .container:nth-of-type(3n + 3) .subtitle {
  color: #B2D145;
}

.services-slider .container {
  max-width: inherit;
  margin: 0 10px;
}
.services-slider .paginator {
  margin-top: 3rem;
}
@media (min-width: 320px) {
  .services-slider .paginator {
    margin-top: calc(3rem + 4 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  .services-slider .paginator {
    margin-top: 7rem;
  }
}
.services-slider .center {
  max-height: 550px;
  overflow: hidden;
}

.services_content {
  padding: 4rem 0;
  max-width: 470px;
}

.services_image {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.services_image .services_circle {
  height: 100%;
}

.services_shapes {
  position: relative;
  height: 100%;
}
.services_shapes .circle-bigger {
  left: 14px;
  bottom: -75px;
  background-color: rgba(193, 218, 106, 0.8);
}
.services_shapes .circle-small {
  left: 68px;
  top: -28px;
  background-color: rgba(87, 172, 156, 0.8);
}

.services-post_header {
  max-width: 650px;
  border-bottom: 1px solid #D8D8D8;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}
.services-post_header h1 {
  text-align: center;
  margin-bottom: 4rem;
}
.services-post_header p {
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #09987E;
  width: 49%;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #D8D8D8;
  margin: 0;
}
@media (min-width: 320px) {
  .services-post_header p {
    font-size: calc(12px + 4 * (100vw - 320px) / 670);
  }
}
@media (min-width: 990px) {
  .services-post_header p {
    font-size: 16px;
  }
}
@media (min-width: 320px) {
  .services-post_header p {
    padding-top: calc(7px + 6 * (100vw - 320px) / 670);
  }
}
@media (min-width: 990px) {
  .services-post_header p {
    padding-top: 13px;
  }
}
@media (min-width: 320px) {
  .services-post_header p {
    padding-bottom: calc(7px + 6 * (100vw - 320px) / 670);
  }
}
@media (min-width: 990px) {
  .services-post_header p {
    padding-bottom: 13px;
  }
}
.services-post_header p:nth-of-type(2n) {
  border: none;
}

/*=============================================
=            BLOG PAGE            =
=============================================*/
.blog-page .blog-page_image {
  box-shadow: -8px 8px 0px -1px #09987E;
  height: 250px;
  margin-bottom: 3rem;
}
.blog-page .row {
  padding: 4rem 0;
  border-bottom: 1px solid rgba(152, 152, 152, 0.3);
}
.blog-page .row:last-of-type {
  border: none;
}

.blog-page_content h3,
.services_content h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 26px;
}
@media (min-width: 320px) {
  .blog-page_content h3,
.services_content h3 {
    margin-bottom: calc(1rem + 0.3 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  .blog-page_content h3,
.services_content h3 {
    margin-bottom: 1.3rem;
  }
}
@media (min-width: 320px) {
  .blog-page_content h3,
.services_content h3 {
    line-height: calc(26px + 4 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  .blog-page_content h3,
.services_content h3 {
    line-height: 30px;
  }
}
.blog-page_content p:not(.subtitle),
.services_content p:not(.subtitle) {
  margin: 1.3rem 0;
}

.subtitle {
  font-size: 14px;
  color: #989898;
  font-weight: 400;
  line-height: 18px;
}
.subtitle span {
  font-size: 14px;
  color: #09987E;
  font-weight: 600;
}

/*=============================================
=            SINGLE POST            =
=============================================*/
.post-hero {
  height: 0;
  padding-bottom: 45%;
  position: relative;
  overflow: hidden;
  margin-bottom: 7rem;
  margin-top: 7rem;
}
.post-hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.border-shadow {
  box-shadow: -16px 16px 0px -1px #09987E;
}

.post-header {
  text-align: center;
  margin-bottom: 6rem;
}
.post-header hr {
  width: 60px;
  border: none;
  height: 3px;
  background-color: #09987E;
  margin: 3rem auto 3rem auto;
}
.post-header p:not(.subtitle) {
  color: #162419;
  font-weight: 600;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.editor {
  padding-bottom: 6rem;
}
.editor .entry-content > p,
.editor .entry-content > ul {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.editor h6 {
  color: #09987E;
  text-transform: uppercase;
  font-weight: 500;
}
.editor p,
.editor li {
  font-size: 12px;
}
@media (min-width: 320px) {
  .editor p,
.editor li {
    font-size: calc(12px + 2 * (100vw - 320px) / 1040);
  }
}
@media (min-width: 1360px) {
  .editor p,
.editor li {
    font-size: 14px;
  }
}
.editor p {
  margin-bottom: 1.4rem;
}
.editor li:before {
  width: 9px;
  height: 9px;
  border: none;
  top: 15px;
}
.editor blockquote,
.editor ul {
  padding-bottom: 4rem;
  padding-bottom: 2rem;
}
@media (min-width: 320px) {
  .editor blockquote,
.editor ul {
    padding-bottom: calc(2rem + 2 * (100vw - 320px) / 670);
  }
}
@media (min-width: 990px) {
  .editor blockquote,
.editor ul {
    padding-bottom: 4rem;
  }
}
.editor .wp-block-columns .wp-block-image {
  padding-top: 0;
  padding-bottom: 0;
}
.editor strong {
  color: #717070;
}
.editor blockquote {
  position: relative;
  max-width: 517px;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
}
.editor blockquote p {
  font-size: 18px;
  line-height: 28px;
  color: #162419;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 320px) {
  .editor blockquote p {
    font-size: calc(18px + 4 * (100vw - 320px) / 1046);
  }
}
@media (min-width: 1366px) {
  .editor blockquote p {
    font-size: 22px;
  }
}
.editor blockquote:before {
  content: "";
  background-image: url("../img/blockquote.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: -22px;
  color: #B2D145;
  z-index: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.editor .border-box h6 {
  color: #09987E;
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 20px;
}
.editor .border-box strong {
  color: #162419;
}
.editor .border-box .wp-block-column {
  border: 2px solid #162419;
  padding: 2rem;
}

.post-author {
  padding: 5.4rem 0;
  text-align: center;
}

.post-author_image {
  width: 133px;
  height: 133px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.post-author_image img {
  max-width: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-author_content span {
  color: #989898;
  font-size: 16px;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-bottom: 1rem;
  display: inline-block;
}

.latest-post {
  border-top: 1px solid rgba(152, 152, 152, 0.3);
}
.latest-post > a {
  margin-bottom: 4rem;
  display: block;
}
.latest-post p {
  font-size: 14px;
}

.latest-post_image {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 74%;
  margin-bottom: 3rem;
}
.latest-post_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.curve-white,
.curve-grey {
  position: relative;
}
.curve-white:before,
.curve-grey:before {
  height: 630px;
  content: "";
  display: block;
  position: absolute;
  left: -50%;
  top: -50px;
  width: 200%;
  bottom: 0;
  border-radius: 100% 100% 0 0/28% 28% 0 0;
  -webkit-border-radius: 100% 100% 0 0/28% 28% 0 0;
  -moz-border-radius: 100% 100% 0 0/28% 28% 0 0;
  -ms-border-radius: 100% 100% 0 0/28% 28% 0 0;
  -o-border-radius: 100% 100% 0 0/28% 28% 0 0;
}

.curve-white:before {
  background-color: white;
}

.curve-grey:before {
  background-color: #EFEFEF;
}

button {
  display: block;
  margin: 5% auto 0;
  background: transparent;
  border: 2px solid #444;
  padding: 5px 10px;
}
button.md-close {
  margin-top: 40px;
}

/*=============================================
=            Contact page            =
=============================================*/
.modal.container {
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow-y: scroll;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show {
  visibility: visible;
  z-index: 999;
}

.contact_info {
  padding-top: 12rem;
  padding-bottom: 6rem;
  min-height: 50vh;
  background-color: #106F5E;
}
.contact_info * {
  color: #fff;
}
.contact_info .social-icon {
  margin-top: 4rem;
  justify-content: flex-start;
  margin-left: 13px;
}
.contact_info .social-icon > div {
  background-color: rgba(9, 152, 126, 0.3);
}
.contact_info form textarea {
  height: 148px;
}
.contact_info .shape1 {
  display: none;
}
.contact_info .btn-link {
  font-size: 14px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}
.contact_info .section-form_header {
  text-align: left;
}
.contact_info .btn-full {
  color: #162419;
}

.contact_info_inner {
  background-color: #115E4F;
  padding: 2rem;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.contact_info_inner .btn-link {
  margin-left: 25px;
}
.contact_info_inner p {
  font-size: 14px;
}
.contact_info_inner .email,
.contact_info_inner .location {
  position: relative;
  padding-left: 25px;
}
.contact_info_inner .email:before,
.contact_info_inner .location:before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5px;
}
.contact_info_inner .email:before {
  background-image: url("../img/email-icon.svg");
}
.contact_info_inner .location:before {
  background-image: url("../img/location-icon.svg");
}

.contact_map {
  min-height: 50vh;
}

.contact_close {
  background-color: #B2D145;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 31;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.contact_close span {
  color: #162419;
  display: inline-block;
  font-size: 60px;
  font-weight: 200;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.md-effect-12.modal {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show.md-effect-12.modal {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/*=============================================
=            EVENT PAGE            =
=============================================*/
.event-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.event-list .event {
  margin-bottom: 45px;
}

.event {
  border: 2px solid #162419;
  position: relative;
}

.event-header {
  position: relative;
  padding-right: 90px;
  padding: 2.7rem;
}

.event_mark {
  border-color: #09987E;
}
.event_mark .event-header {
  background-color: #09987E;
}
.event_mark .event-header .event_data * {
  color: #fff;
}
.event_mark .event-header .event-type {
  z-index: 2;
}
.event_mark h4 {
  color: #09987E;
}

.event_type {
  color: #106F5E;
  background-color: rgba(9, 152, 126, 0.3);
  padding: 2rem 1.6rem;
  position: absolute;
  top: 2.7rem;
  right: 0;
  font-size: 14px;
  font-weight: 600;
}

.event_data {
  color: #09987E;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
}
.event_data .big,
.event_data .small {
  display: inline-block;
  line-height: 13px;
}
.event_data .big p {
  font-size: 35px;
  margin-right: 10px;
  margin-bottom: 3px;
  position: relative;
  top: 3px;
  font-weight: 500;
}
@media (min-width: 320px) {
  .event_data .big p {
    font-size: calc(35px + 13 * (100vw - 320px) / 670);
  }
}
@media (min-width: 990px) {
  .event_data .big p {
    font-size: 48px;
  }
}
.event_data .big span {
  font-size: 16px;
}
.event_data .small {
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}
.event_data .small span {
  font-weight: 500;
  font-size: 12px;
}
.event_data em {
  position: relative;
  top: 8px;
  right: 3px;
}

.event_content {
  padding: 2.7rem;
}
.event_content h4 {
  line-height: 29px;
}
.event_content p {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
}
.event_content p:before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5px;
}
.event_content p:nth-of-type(1):before {
  background-image: url("../img/location-icon.svg");
}
.event_content p:nth-of-type(2):before {
  background-image: url("../img/location-icon.svg");
}

/*=============================================
            RESPONSIVE mobile first
$tablet: 768px;
$laptop: 992px;
$desktop: 1360px;
$xdesktop: 1600px; 
=============================================*/
@media only screen and (min-width: 400px) {
  .team .team_image {
    width: 80%;
    padding-bottom: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*----------  480px----------*/
@media only screen and (min-width: 480px) {
  .container {
    width: 90%;
  }

  .mind-img {
    width: auto;
  }

  .latest-posts > a {
    width: 80%;
    margin: 0 auto;
  }

  .blog-page .blog-page_image {
    box-shadow: -16px 16px 0px -1px #09987E;
  }

  .circle-shapes .circle-bigger {
    left: -20px;
    bottom: -29px;
  }
  .circle-shapes .circle-small {
    top: 13px;
    left: 24px;
  }
  .circle-shapes .circle-big {
    top: -43px;
    left: 60px;
  }

  .circle-bigger {
    width: 144px;
    height: 144px;
  }
}
@media only screen and (min-width: 600px) {
  .editor .wp-block-columns {
    padding-bottom: 3rem;
  }
}
@media only screen and (min-width: 576px) {
  .team .team_image {
    margin-bottom: 0;
    padding-bottom: 100%;
    width: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .blog-page .blog-page_image {
    max-width: 450px;
  }

  .services_image {
    position: relative;
    overflow: hidden;
  }
  .services_image .services_circle {
    height: 100%;
    width: 570px;
    border-radius: 50%;
    height: 570px;
    position: absolute;
    top: 50%;
    left: 61px;
    transform: translateY(-50%);
  }

  .testimonial .testimonial_author {
    position: relative;
    right: -50px;
    text-align: right;
  }
  .testimonial .testimonial_img {
    margin-left: 34px;
  }
}
/*----------    768px----------*/
@media only screen and (min-width: 768px) {
  .section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 320px) {
  .section {
    padding-top: calc(8rem + 2 * (100vw - 320px) / 1046);
  }
}
@media only screen and (min-width: 768px) and (min-width: 1366px) {
  .section {
    padding-top: 10rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 320px) {
  .section {
    padding-bottom: calc(8rem + 2 * (100vw - 320px) / 1046);
  }
}
@media only screen and (min-width: 768px) and (min-width: 1366px) {
  .section {
    padding-bottom: 10rem;
  }
}
@media only screen and (min-width: 768px) {
  .section.curve-grey,
.section.curve-white {
    padding-top: 3rem;
    padding-bottom: 13rem;
  }
}
@media only screen and (min-width: 768px) {
  .curve-white:before,
.curve-grey:before {
    border-radius: 100% 100% 0 0/100% 100% 0 0;
    top: -80px;
  }
}
@media only screen and (min-width: 768px) {
  .section-title {
    position: relative;
    left: -11px;
  }
}
@media only screen and (min-width: 768px) {
  .box-content {
    max-width: 430px;
  }
}
@media only screen and (min-width: 768px) {
  .box-img {
    width: 100%;
    padding-bottom: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .two-columns > div {
    margin-bottom: 0;
  }
  .two-columns > div:nth-of-type(1) > div {
    margin-right: auto;
  }
  .two-columns > div:nth-of-type(2) > div {
    margin-left: auto;
  }
}
@media only screen and (min-width: 768px) {
  .mind-box .box-content {
    height: 100%;
  }
  .mind-box .box-content:first-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .cta-box .img img {
    width: auto;
  }
  .cta-box .row > div {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 768px) {
  .team-home .team-home_img {
    width: 60%;
    padding-bottom: 60%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .site-footer .row {
    text-align: left;
  }
  .site-footer .row > div {
    margin-bottom: 0;
  }
  .site-footer .social-icon {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 768px) {
  .testimonial .testimonial_box {
    padding: 9rem 8rem 3.1rem 8rem;
    position: relative;
  }
  .testimonial .testimonial_author {
    position: relative;
    right: -50px;
  }
  .testimonial .shape1 {
    top: -57px;
    left: -146px;
    width: 40%;
    max-width: 326px;
  }
  .testimonial .shape2 {
    right: -195px;
    bottom: -155px;
    width: 40%;
    max-width: 430px;
  }
}
@media only screen and (min-width: 768px) {
  .services_content,
.blog-page_content {
    padding: 5rem 2rem;
  }
  .services_content p:not(.subtitle),
.blog-page_content p:not(.subtitle) {
    margin: 3.2rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .services-slider .container {
    margin: 0 3.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .blog-page .blog-page_image {
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .post-author {
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  .latest-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .latest-post > a {
    width: calc(33.33% - 2rem);
    max-width: 300px;
    margin-right: 4rem;
    margin-bottom: 0;
  }
  .latest-post > a:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .hero .shape1,
.hero .shape2 {
    width: auto;
  }
  .hero .shape1 {
    left: -130px;
    top: 70px;
  }
  .hero .shape2 {
    bottom: -200px;
    right: -115px;
  }
}
@media only screen and (min-width: 768px) {
  .contact_map {
    min-height: 100vh;
  }
}
@media only screen and (min-width: 768px) {
  .contact_info {
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .event-list {
    justify-content: flex-start;
  }
  .event-list .event {
    width: calc(50% - 22.5px);
    margin-right: 45px;
  }
  .event-list .event:nth-of-type(2n) {
    margin-right: 0;
  }
}
/*----------  laptop  992px ----------*/
@media only screen and (min-width: 992px) {
  html {
    font-size: 55%;
  }

  .container {
    max-width: 990px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-content {
    margin-top: 90px;
  }

  .team-home .team-home_img {
    width: 100%;
    padding-bottom: 100%;
  }

  .testimonial .testimonial_wrap {
    position: relative;
  }
  .testimonial .testimonial_wrap .paginator {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 871px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .testimonial .testimonial_wrap .paginator ul {
    justify-content: space-between;
  }

  .paginator ul.slick-slide li.prev,
.paginator ul li.prev {
    width: 140px;
  }
  .paginator ul.slick-slide li.next,
.paginator ul li.next {
    width: 140px;
  }

  .blog-page .blog-page_content {
    padding: 2.3rem 4rem 2.3rem 2.3rem;
  }
  .blog-page .blog-page_image {
    height: 0;
    padding-bottom: 71.5%;
    margin-bottom: 16px;
    max-height: 335px;
  }

  .post-author_content {
    max-width: 600px;
    margin-left: 5rem;
  }

  .services-slider .paginator .slick-list {
    padding: 0 !important;
  }

  .editor .wp-block-columns {
    padding-bottom: 4rem;
    align-items: center;
  }
  .editor .wp-block-columns .wp-block-column:nth-child(odd) {
    padding-right: 4rem;
  }
  .editor .wp-block-columns .wp-block-column:nth-child(even) {
    padding-left: 2rem;
  }
  .editor figure.wp-block-image {
    padding-bottom: 4rem;
    padding-top: 0;
  }
  .editor .border-box.wp-block-columns .wp-block-column {
    padding: 5rem 3rem 3rem 5rem;
  }
  .editor .border-box.wp-block-columns.wp-block-columns {
    align-items: stretch;
    justify-content: stretch;
  }

  .section.curve-grey,
.section.curve-white {
    padding-top: 6rem;
    padding-bottom: 16rem;
  }

  .burger,
.nav-close {
    display: none;
  }

  .navbar-brand {
    width: auto;
  }

  .site-header .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .site-header li {
    cursor: pointer;
  }
  .site-header ul,
.site-header .right-menu {
    display: flex;
  }
  .site-header ul > div,
.site-header .right-menu > div {
    display: flex;
    align-items: center;
  }
  .site-header .emphasize a {
    background-color: #B2D145;
    padding: 3.5rem 2rem;
    color: #162419;
    font-size: 14px;
  }
  .site-header .main-menu li a {
    padding: 3.5rem 2rem;
  }
  .site-header .current_page_item a {
    color: #B2D145;
  }

  .event-list .event {
    width: calc(33.33% - 30px);
  }
  .event-list .event:nth-of-type(2n) {
    margin-right: 45px;
  }
  .event-list .event:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1100px) {
  .team .team_image {
    width: 294px;
    height: 294px;
    padding: initial;
  }

  .contact_info {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact_info > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .contact_info .btn-full {
    margin-right: auto;
    margin-left: 0;
    display: block;
  }
  .contact_info .section-form,
.contact_info .contact_info_inner {
    margin-left: initial;
    margin-right: initial;
  }
  .contact_info .section-form {
    margin-right: 30px;
  }
  .contact_info .contact_info_inner {
    padding: 4rem 4rem 3rem 4rem;
    min-width: 300px;
    margin-top: 93px;
  }
  .contact_info .contact_info_inner p {
    margin-bottom: 2.4rem;
  }
  .contact_info .shape1 {
    display: block;
    position: absolute;
    right: -140px;
    top: 120px;
    opacity: 0.5;
  }

  .contact_close {
    width: 92px;
    height: 92px;
  }
}
/*----------  desktop 1360px ----------*/
@media only screen and (min-width: 1360px) {
  html {
    font-size: 62.5%;
  }

  .mark {
    height: 32px;
    top: 24px;
  }

  .site-content {
    margin-top: 101px;
  }

  .scroll {
    width: 88px;
    height: 88px;
  }
  .scroll img {
    width: auto;
  }

  .blog-page .blog-page_image {
    height: 335px;
  }

  .services_content {
    padding: 4.8rem 1.8rem 4rem 6rem;
  }

  .mind-box > div {
    padding: 0;
  }

  .section.curve-grey,
.section.curve-white {
    padding-top: 5rem;
    padding-bottom: 19rem;
  }
}
/*----------  xdesktop 1600px ----------*/
@media only screen and (min-width: 1600px) {
  .curve-white:before,
.curve-grey:before {
    border-radius: 100% 100% 0 0/78% 78% 0 0;
  }
}
/*=============================================
=            Contact form 7            =
=============================================*/
form {
  /*----------  Checkbox  ----------*/
  /*----------  Radio button  ----------*/
  /*----------  Form validation  ----------*/
}
form input[type=text],
form input[type=date],
form input[type=datetime],
form input[type=email],
form input[type=number],
form input[type=tel],
form input[type=search],
form input[type=time],
form input[type=url],
form input[type=time],
form input[type=date],
form textarea,
form select {
  color: #162419;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  background: #fff;
  border: none;
  max-width: 300px;
  padding: 14px;
  line-height: 20px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
form textarea {
  font-size: 14px;
  resize: vertical;
  height: 188px;
}
form ::placeholder {
  color: #7E7D7D;
}
form p {
  margin-bottom: 24px;
}
form p:last-child {
  margin-bottom: 24px;
}
form input[type=date] {
  padding-left: 5.5rem;
  padding-bottom: 5px;
  position: relative;
  top: 3px;
}
form .wpcf7-checkbox span,
form .wpcf7-radio span {
  font-size: 14px;
  margin-left: 0;
  margin-right: 14px;
}
form input[type=text]:focus,
form input[type=date]:focus,
form input[type=datetime]:focus,
form input[type=email]:focus,
form input[type=number]:focus,
form input[type=tel]:focus,
form input[type=search]:focus,
form input[type=time]:focus,
form input[type=url]:focus,
form textarea:focus,
form select:focus {
  border-bottom: 1px solid #09987E;
  transition: all 0.5s;
}
form input[type=text]:focus::placeholder,
form input[type=date]:focus::placeholder,
form input[type=datetime]:focus::placeholder,
form input[type=email]:focus::placeholder,
form input[type=number]:focus::placeholder,
form input[type=tel]:focus::placeholder,
form input[type=search]:focus::placeholder,
form input[type=time]:focus::placeholder,
form input[type=url]:focus::placeholder,
form textarea:focus::placeholder,
form select:focus::placeholder {
  color: #C1C1C1;
}
form input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
form input[type=checkbox]::-ms-check {
  display: none;
}
form input[type=checkbox] {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #09987E;
  vertical-align: -2px;
}
form input[type=checkbox]::before {
  content: "";
  position: absolute;
  font-size: 14px;
  right: 0;
  top: -0.3em;
  visibility: hidden;
}
form input[type=checkbox]:checked {
  background-color: red;
}
form input[type=checkbox]:checked::before {
  visibility: visible;
}
form.wpcf7-form .wpcf7-list-item {
  display: flex;
  align-items: center;
}
form.wpcf7-form .wpcf7-radio {
  display: flex;
}
form.wpcf7-form input[type=radio] {
  margin-right: 11px;
}
form span.wpcf7-not-valid-tip {
  position: absolute;
  left: 0;
  bottom: -37px;
  color: #e24040;
  font-size: 11px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
form div.wpcf7-validation-errors,
form div.wpcf7-acceptance-missing,
form div.wpcf7-mail-sent-ok {
  border: none;
  border-left: 4px solid;
  color: #7E7D7D;
  padding: 10px;
  font-size: 14px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
form div.wpcf7-validation-errors,
form div.wpcf7-acceptance-missing {
  border-color: #e24040;
}
form div.wpcf7-mail-sent-ok {
  border-color: #578842;
}

.section-form {
  margin-left: auto;
  margin-right: auto;
}
.section-form form {
  text-align: center;
}

.section-form_header {
  text-align: center;
  margin-bottom: 3.6rem;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}
.section-form_header p {
  font-size: 14px;
  line-height: 22px;
}

.one_half {
  margin-bottom: 24px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.one_half .text {
  font-size: 16px;
  text-align: left;
  display: block;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .one_half {
    float: left;
    margin: 0 25px;
  }

  .clear {
    clear: both;
  }

  .form-two-columns {
    max-width: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
