
/*=============================================
=            Contact form 7            =
=============================================*/





form {
   input[type="text"],
   input[type="date"],
   input[type="datetime"],
   input[type="email"],
   input[type="number"],
   input[type="tel"],
   input[type="search"],
   input[type="time"],
   input[type="url"],
   input[type="time"],
   input[type="date"],
   textarea,
   select {
      color: $dark-green;
      font-weight: 400;
      font-size: 14px;
      width: 100%;
      outline: none;
      box-sizing: border-box;
      background: #fff;
      border: none;
      max-width: 300px;
      padding: 14px;
      line-height: 20px;
      border-bottom: 1px solid transparent;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
   }

   textarea {
      font-size: 14px;
      resize: vertical;
      height: 188px;
   }

   ::placeholder {
      color: #7E7D7D;
   }

   p {
      margin-bottom: 24px;
      &:last-child {
         margin-bottom: 24px;
      }
   }

   input[type="date"] {
      padding-left: 5.5rem;
      padding-bottom: 5px;
      position: relative;
      top: 3px;
   }

   .wpcf7-checkbox span,
   .wpcf7-radio span {
      font-size: 14px;
      margin-left: 0;
      margin-right: 14px;
   }

   input[type="text"]:focus,
   input[type="date"]:focus,
   input[type="datetime"]:focus,
   input[type="email"]:focus,
   input[type="number"]:focus,
   input[type="tel"]:focus,
   input[type="search"]:focus,
   input[type="time"]:focus,
   input[type="url"]:focus,
   textarea:focus,
   select:focus {
      border-bottom: 1px solid $main-color;
      transition: all .5s;

      &::placeholder {
         color: #C1C1C1;
      }
   }

   
   /*----------  Checkbox  ----------*/
   
   
   input[type=checkbox] {
      -webkit-appearance: none;
      -moz-appearance: none;
   }

   input[type=checkbox]::-ms-check {
      display: none;
   }

   input[type=checkbox] {
      position: relative;
      width: 15px;
      height: 15px;
      border: 1px solid $main-color;
      vertical-align: -2px;
   }

   input[type=checkbox]::before {
      content: "";
      position: absolute;
      font-size: 14px;
      right: 0;
      top: -0.3em;
      visibility: hidden;
   }

   input[type=checkbox]:checked {
      background-color: red;
   }

   input[type=checkbox]:checked::before {
      visibility: visible;
   }

  
  /*----------  Radio button  ----------*/
  
  
   &.wpcf7-form {
      .wpcf7-list-item {
         display: flex;
         align-items: center;
      }

      .wpcf7-radio {
         display: flex;
      }

      input[type=radio] {
         margin-right: 11px;
      }
   }

 
 /*----------  Form validation  ----------*/
 
 
   span.wpcf7-not-valid-tip {
      position: absolute;
      left: 0;
      bottom: -37px;
      color: #e24040;
      font-size: 11px;
      max-width: 300px;
      @include push--auto;
   }

   div.wpcf7-validation-errors,
   div.wpcf7-acceptance-missing,
   div.wpcf7-mail-sent-ok {
      border: none;
      border-left: 4px solid;
      color: $font-color;
      padding: 10px;
      font-size: 14px;
      max-width: 300px;
      @include push--auto;
   }

   div.wpcf7-validation-errors,
   div.wpcf7-acceptance-missing {
      border-color: #e24040;
   }

   div.wpcf7-mail-sent-ok {
      border-color: #578842;
   }
}


.section-form {
   @include push--auto;

   form {
      text-align: center;
   }
}

.section-form_header {
   text-align: center;
   margin-bottom: 5rem;
   max-width: 330px;
   @include push--auto;

   p {
      font-size: 14px;
      line-height: 22px;
   }
}

.one_half {
   margin-bottom: 24px;
   width: 300px;
   @include push--auto;
   .text {
      font-size: 16px;
      text-align: left;
      display: block;
      margin-bottom: 16px;
   }
}

.radio {
   margin-bottom: 24px;
   label {
     display: flex;
     align-items: center;
   }
   .wpcf7-list-item-label {
     margin-left: 8px;
   }
 }
 
 .radio label:before {
   height:17px;
   width:17px;
   margin-right: 2px;
   content: " ";
   display:inline-block;
   vertical-align: baseline;
   border: 1px solid #979797 ;
   border-radius:50%;
 }
 
 .radio label.checked:before {
   background: $main-color;
   box-shadow: inset 0px 0px 0px 3px #fff;
   border-color:$main-color;
 }

@media only screen and (min-width: $tablet) {

   .one_half {
      float: left;
      margin: 0 25px;
   }

   .clear {
      clear: both;
   }

   .form-two-columns {
      max-width: 700px;
   }
}