$title-font: 'Barlow Semi Condensed', sans-serif;

$main-font: 'Montserrat', sans-serif;


h1,h2,h3,h4,h5,h6 {
   color: $dark-green;
   font-family: $title-font;
   margin: 0 0 1rem 0;
   text-transform: uppercase;
}

h1,h3 {
   font-weight: 500;
}

h1,h2 {
   @include fluid-type(font-size, 320px, 1360px, 28px, 36px);
   @include fluid-type(line-height, 320px, 1360px, 30px,42px);
   font-weight: 500;
}

h3 {
   @include fluid-type(font-size, 320px, 1360px, 26px, 30px);
   @include fluid-type(line-height, 320px, 1360px, 28px, 36px);
   margin: 0 0 1.6rem 0;
}

h4 {
   @include fluid-type(font-size, 320px, 1360px, 26px, 28px);
   @include fluid-type(line-height, 320px, 1360px, 28px, 36px);
   margin: 0 0 1.6rem 0;
   font-weight: 500;
}

h5 {
   @include fluid-type(font-size, 320px, 1360px, 20px, 22px);
   @include fluid-type(line-height, 320px, 1360px, 22px, 25px);
   color: $main-color;
   text-transform: uppercase;
   font-weight: 500;
}

h6 {
   @include fluid-type(font-size, 320px, 768px, 16px, 18px);
   margin: 0 0 1rem 0;
   line-height: 22px;
   font-weight: 500;
   
}

p{
   @include fluid-type(font-size, 320px, 1360px, 13px, 16px);
   margin-top: 0;
   @include fluid-type(line-height, 320px, 1360px, 22px, 24px);
   font-weight: 400;
   &:last-child {
      margin-bottom: 0;
   }
}

ul,li {
   margin: 0;
   padding: 0;
}

li {
   @include fluid-type(font-size, 320px, 1360px, 14px, 16px);
   list-style: none;
   position: relative;
   padding-left: 2.2rem;
   line-height: 22px;
   margin-bottom: 14px;
   &:before {
      content: "\A";
      position: absolute;
      left: 0;
      top: 13px;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $main-color;
      display: inline-block;
      border: 1px solid $main-color;
      box-shadow: inset 0px 0px 0px 1px #fff;
   }
}

a {
   cursor: pointer;
   color: inherit;
   font-size: inherit;
   &:hover,&:link,
   &:visited {
      text-decoration: none;
   }
}

strong {
   font-weight: 600;
}

blockquote {

}








