$tablet: 768px;
$laptop: 992px;
$desktop: 1360px;
$xdesktop: 1600px;

$main-color: #09987E;

$second-color: #B2D145;

$background-color: #EFEFEF;

$dark-green: #162419;

$font-color: #7E7D7D;  

$light-grey: #989898;

$hover: #B6E0D8;

$hover-green: #106F5E;