/*=============================================
            RESPONSIVE mobile first
$tablet: 768px;
$laptop: 992px;
$desktop: 1360px;
$xdesktop: 1600px; 
=============================================*/



@media only screen and (min-width: 400px) {}

/*----------  480px----------*/


@media only screen and (min-width: 480px) {

   .container {
      width: 90%;
   }


   .mind-img {
      width: auto;
   }


   .blog-page {
      .blog-page_image {
         box-shadow: -16px 16px 0px -1px $main-color;
      }
   }

   .circle-shapes {
      .circle-bigger {
         left: -20px;
         bottom: -29px;
      }

      .circle-small {
         top: 13px;
         left: 24px;
      }

      .circle-big {
         top: -43px;
         left: 60px;
      }
   }

   .circle-bigger {
      width: 144px;
      height: 144px;
   }

   .event-list {
      .event {
         width: 80%;
      }
   }
}

@media only screen and (min-width: 576px) {

   .team-home_box {
      &:hover {
         position: relative;

         &:before {
            opacity: 1;
            transition: opacity .2s linear;
            -webkit-transition: opacity .2s linear;
            -moz-transition: opacity .2s linear;
            -ms-transition: opacity .2s linear;
            -o-transition: opacity .2s linear;
         }

         .team-home_content {
            z-index: 4;
            position: relative;
            top: 200px;

            * {
               color: #fff;
            }

            hr {
               width: 80%;
               transition: width .3s linear;
               -webkit-transition: width .3s linear;
               -moz-transition: width .3s linear;
               -ms-transition: width .3s linear;
               -o-transition: width .3s linear;
            }
         }

         .team-home_img {
            height: 100%;
            overflow: initial;
            width: 100%;
            padding-bottom: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img {
               filter: grayscale(100%);
               width: auto;
               height: 100%;
               max-width: initial;
            }
         }
      }
   }

   .blog-page {
      .blog-page_image {
         max-width: 450px;
      }
   }

   .services_image {
      position: relative;
      overflow: hidden;

      .services_circle {
         height: 100%;
         width: 570px;
         border-radius: 50%;
         height: 570px;
         position: absolute;
         top: 50%;
         left: 61px;
         transform: translateY(-50%);
      }
   }

   .testimonial {
      .testimonial_author {
         position: relative;
         right: -50px;
         text-align: right;
      }

      .testimonial_img {
         margin-left: 34px;
      }
   }
}

@media only screen and (min-width: 600px) {
   .editor {
      .wp-block-columns {
         padding-bottom: 3rem;
      }
   }

   .event-promo {
      flex-direction: row;

      .event {
         width: 70%;
      }

      .event-promo_image {
         width: 30%;
         height: auto;
      }
   }

   .event-single_header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

      .event_data {
         width: 30%;
      }

      .event-single_header_inner {
         width: 70%;
      }
   }

   .event-single_top_info {
      display: flex;
      border-bottom: 1px solid #D8D8D8;

      >div {
         width: 50%;

         &:nth-of-type(1) {
            border-right: 1px solid #D8D8D8;
            border-bottom: none;
         }
      }
   }
}


/*----------    768px----------*/


@media only screen and (min-width: $tablet) {

   .section {
      @include fluid-type(padding-top, 320px, 1366px, 8rem, 10rem);
      @include fluid-type(padding-bottom, 320px, 1366px, 8rem, 10rem);
   }

   .mind-box-section.section {
      @include fluid-type(padding-bottom, 320px, 1366px, 8rem, 10rem);
   }

   .section.curve-padding-top {
      padding-top: 3rem;
   }

   .section.curve-padding-bottom {
      padding-bottom: 13rem;
   }

   .curve-white,
   .curve-grey {
      &:before {
         border-radius: 100% 100% 0 0/100% 100% 0 0;
         top: -80px;
      }
   }

   .section-title {
      position: relative;
      left: -11px;
   }

   .box-content {
      max-width: 430px;
   }

   .box-img {
      width: 100%;
      padding-bottom: 100%;

   }

   .two-columns {
      >div {
         margin-bottom: 0;

         &:nth-of-type(1) {
            >div {
               margin-right: auto;
            }

         }

         &:nth-of-type(2) {
            >div {
               margin-left: auto;
            }
         }
      }
   }

   .mind-box {
      .box-content {
         height: 100%;

         &:first-child {
            margin-bottom: 0;
         }
      }
   }

   .cta-box {
      .img {
         img {
            width: auto;
         }
      }

      .row>div {
         align-items: flex-start;
      }
   }

   .site-footer {
      .row {
         text-align: left;

         >div {
            margin-bottom: 0;
         }
      }

      .social-icon {
         justify-content: flex-end;
      }
   }

   .testimonial {
      .testimonial_box {
         padding: 9rem 8rem 3.1rem 8rem;
         position: relative;
      }

      .testimonial_author {
         position: relative;
         right: -50px;
      }

      .shape1 {
         top: -57px;
         left: -146px;
         width: 40%;
         max-width: 326px;
      }

      .shape2 {
         right: -195px;
         bottom: -155px;
         width: 40%;
         max-width: 430px;
      }
   }

   .services_content,
   .blog-page_content {
      padding: 5rem 2rem;

      p:not(.subtitle) {
         margin: 3.2rem 0;
      }
   }

   .services-slider .container {
      margin: 0 3.5rem;
   }

   .blog-page {
      .blog-page_image {
         height: 100%;
      }
   }

   .post-author {
      text-align: left;
   }

   .latest-post {

      >a {
         width: calc(33.33% - 2.7rem);
         max-width: 300px;
         margin-right: 4rem;
         margin-bottom: 0;

         &:last-child {
            margin-right: 0;
         }
      }
   }

   .hero {

      .shape1,
      .shape2 {
         width: auto;
      }

      .shape1 {
         left: -130px;
         top: 70px;
      }

      .shape2 {
         bottom: -200px;
         right: -115px;
      }
   }

   .contact_map {
      min-height: 100vh;
   }

   .contact_info {
      padding-right: 0;
   }

   .event-list {
      justify-content: flex-start;

      .event {
         width: calc(50% - 22.5px);
         margin-right: 45px;

         &:nth-of-type(2n) {
            margin-right: 0;
         }
      }
   }

   .event-promo {

      .event-header {
         padding-top: 5rem;
      }

      .event_content {
         padding-bottom: 5rem;
         max-width: 340px;
      }

      .event_type {
         top: 5rem;
      }

      .event {
         width: 35%;
         min-width: 350px;
      }

      .event-promo_image {
         width: 65%;
      }
   }

   .event-single_header {
      justify-content: space-between;

      .event-single_header_inner {
         padding: 0;
         width: 74%;
      }

      .event_data {
         margin-right: 3rem;
         width: 10%;
      }
   }

   .event-single_top_info {
      >div {
         padding: 3.3rem 4rem;
      }
   }

   .border-box_wrap {
      .border-box {
         padding: 5rem 3rem 3rem 3.5rem;
         width: calc(50% - 3rem);
         margin-right: 3rem;

         &:nth-of-type(2n) {
            margin-right: 0;
         }
      }
   }

   .addtoany_shortcode {
      a[class^="a2a_button"] {
         width: calc(25% - 4.7rem);
         margin-right: 5rem;
         margin-left: 0;
         padding: 14px;
        &:after {
          display: block;
        }
        &:last-child {
         margin-right: 0;
        }
      }
    
      .post-author_content span {
        margin-bottom: 0;
      }
    }

    #share {
      .addtoany_list .addtoany_share {
         width: calc(25% - 3.7rem);
         padding: 14px;
      }
   }
   
}


/*----------  laptop  992px ----------*/


@media only screen and (min-width: $laptop) {
   html {
      font-size: 55%;
   }

   .container {
      max-width: 990px;
      padding-left: 15px;
      padding-right: 15px;
   }

   .site-content {
      margin-top: 83px;
   }

   .team-home {
      .team-home_img {
         width: 100%;
         padding-bottom: 100%;
      }
   }

   .testimonial {
      .testimonial_wrap {
         position: relative;

         .paginator {
            position: absolute;
            top: 50%;
            width: 100%;
            max-width: 871px;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 0;

            ul {
               justify-content: space-between;
            }
         }
      }
   }

   .paginator,
   .pagination {

      ul.slick-slide,
      ul {

         li {
            &.prev {
               width: 140px;
            }

            &.next {
               width: 140px;
            }
         }
      }
   }

   .blog-page {
      .blog-page_content {
         padding: 2.3rem 4rem 2.3rem 2.3rem;
      }

      .blog-page_image {
         height: 0;
         padding-bottom: 71.5%;
         margin-bottom: 16px;
         max-height: 335px;
      }
   }

   .post-author_content {
      max-width: 600px;
      margin-left: 5rem;
   }

   .services-slider {
      .paginator {
         .slick-list {
            padding: 0 !important;
         }
      }
   }

   .editor {
      .wp-block-columns {
         padding-bottom: 4rem;
         align-items: center;

         .wp-block-column {
            &:nth-child(odd) {
               padding-right: 4rem;
            }

            &:nth-child(even) {
               padding-left: 2rem;
            }
         }
      }

      figure.wp-block-image {
         padding-bottom: 4rem;
         padding-top: 0;
      }
   }

   .green-box {
      padding: 6.5rem;
   }

   .section.curve-padding-top {
      padding-top: 6rem;
   }

   .section.curve-padding-bottom {
      padding-bottom: 16rem;
   }

   .burger,
   .nav-close {
      display: none;
   }

   .menu-item-has-children {
      position: relative;

      &:hover {
         .sub-menu {
            height:auto;
            transition: height .3s ease-in-out;
            -webkit-transition: height .3s ease-in-out;
            -moz-transition: height .3s ease-in-out;
            -ms-transition: height .3s ease-in-out;
            -o-transition: height .3s ease-in-out;
         }
      }
   }

   .sub-menu {
      position: absolute;
      top: 85px;
      left: 0;
      width: 100%;
      background-color: #106F5E;
      height: 0;
      overflow: hidden;
   }

   .navbar-brand {
      width: auto;
   }

   .site-header {
      .container {
         padding-top: 0;
         padding-bottom: 0;
      }

      li {
         cursor: pointer;
      }

      ul,
      .right-menu {
         display: flex;

         >div {
            display: flex;
            align-items: center;
         }
      }

      .emphasize a {
         background-color: #B2D145;
         padding: 3.5rem 2rem;
         color: $dark-green;
         font-size: 14px;
      }

      .main-menu {
         li>a {
            padding: 3.5rem 2rem;
         }
      }

      .current_page_item {
         a {
            color: $second-color;
         }
      }
   }

   .site-header .main-menu .sub-menu li>a {
      padding: 2rem 2rem;
   }

   .event-list {
      .event {
         width: calc(33.33% - 30px);

         &:nth-of-type(2n) {
            margin-right: 45px;
         }

         &:nth-of-type(3n) {
            margin-right: 0;
         }
      }
   }

   .event-single_header {
      padding: 2.7rem 3rem;
   }

   .team-home_box {
      margin: 0 40px 0 0;

      &:nth-last-child() {
         margin-right: 0;
      }
   }
}

@media only screen and (min-width: 1100px) {
   .team {
      .team_image {
         width: 294px;
         height: 294px;
         padding: initial;
      }
   }

   .contact_info {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      >div {
         width: 100%;
         display: flex;
         justify-content: flex-end;
         align-items: flex-start;
      }

      .btn-full {
         margin-right: auto;
         margin-left: 0;
         display: block;
      }

      .section-form,
      .contact_info_inner {
         margin-left: initial;
         margin-right: initial;
      }

      .section-form {
         margin-right: 30px;
      }

      .contact_info_inner {
         padding: 4rem 4rem 3rem 4rem;
         min-width: 300px;
         margin-top: 93px;

         p {
            margin-bottom: 2.4rem;
         }
      }

      .shape1 {
         display: block;
         position: absolute;
         right: -140px;
         top: 120px;
         opacity: .5;
      }
   }

   .contact_close {
      width: 92px;
      height: 92px;
   }
}

/*----------  desktop 1360px ----------*/


@media only screen and (min-width: $desktop) {

   html {
      font-size: 62.5%;
   }

   .mark {
      height: 32px;
      top: 24px;
   }

   .site-content {
      margin-top: 90px;
   }

   .scroll {
      width: 88px;
      height: 88px;

      img {
         width: auto;
      }
   }

   .blog-page {
      .blog-page_image {
         height: 335px;
      }
   }

   .services_content {
      padding: 4.8rem 1.8rem 4rem 6rem;
   }

   .mind-box {
      >div {
         padding: 0;
      }
   }

   .section.curve-padding-top {
      padding-top: 5rem;
   }

   .section.curve-padding-bottom {
      padding-bottom: 19rem;
   }

   .section-title .mark {
      height: 32px;
      top: 26px;
   }


}


/*----------  xdesktop 1600px ----------*/


@media only screen and (min-width: $xdesktop) {

   .curve-white,
   .curve-grey {
      &:before {
         border-radius: 100% 100% 0 0/78% 78% 0 0;
      }
   }
}