/*=============================================
=            Reset css            =
=============================================*/


*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  // `font-size` for REM use

  font-size: 40.5%;
  // Cancel hightlight color when tapping in iOS
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  line-height: 1.9rem;
  color: $font-color;
  background-color: #fff;
  margin: 0;

}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

// Text selection
::selection {
  text-shadow: none;
  background: $second-color;
  color: #fff;
}

:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

.scroll {
  background-color: $second-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 777;
  margin-bottom: 17rem;
  @include fluid-type(margin-bottom, 320px, 990px, 3rem, 17rem);

  &:after {
    content: "";
    background-image: url('img/arrow-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 40px;
  }

  img {
    width: 13px;
  }
}


/*=============================================
=            BASE            =
=============================================*/

.admin-bar {
  margin-top: 32px;
}

.background-grey {
  background-color: $background-color;
}

.background-green {
  background-color: $main-color;
}

.section {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.mind-box-section.section {
  padding-bottom: 4rem;
}

.section.curve-padding-top {
  padding-top: 0;
}

.section.curve-padding-bottom {
  padding-bottom: 8rem;
}

.line-left {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 40%;
    width: 2px;
    background-color: $dark-green;
    left: 0;
    @include fluid-type(top, 320px, 768px, 2.5rem, 3.6rem);
  }
}

.border {
  border: 2px solid $dark-green;
}

.color-green {
  color: $main-color;
}

.relative {
  position: relative;
}

// underline text
.section-title .mark {
  background-color: rgba(178, 209, 69, .8);
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 22px;
  position: absolute;
  z-index: -2;
  top: 17px;
}

.section-title {
  padding-left: 9px;
  padding-right: 9px;
  position: relative;
  z-index: 999;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.section-header {
  max-width: 570px;
  @include push--auto;
  text-align: center;

  h1,
  h2 {
    margin-bottom: 4.5rem;
  }

  p {
    margin-bottom: 7rem;
  }
}

.mb-normal {
  @include fluid-type(margin-bottom, 320px, 1366px, 2rem, 3.2rem);
}

.mb-big {
  @include fluid-type(margin-bottom, 320px, 1366px, 7rem, 12rem);
}

.two-columns {
  >div {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.box-content {
  @include fluid-type(padding, 320px, 768px, 2rem, 3rem);
}

.box-img {
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  margin: 0 auto;
}

.big-circle {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.circle-shapes {
  position: relative;
  width: 85%;
  max-width: 385px;
  @include push--auto;

  .circle-bigger {
    left: -10px;
    bottom: -29px;
    background-color: rgba(193, 218, 106, 0.8);
  }

  .circle-small {
    top: 1px;
    left: -4px;
    z-index: 2;
    background-color: rgba(87, 172, 156, .8);
  }

  .circle-big {
    top: -39px;
    left: 27px;
    background-color: rgba(239, 239, 239, .8);
  }
}


.border-top {
  border-top: 1px solid rgba(152, 152, 152, 0.3);
}


.mind-box {
  .box-content {
    @include fluid-type(padding-top, 320px, 768px, 4, 7rem);
    position: relative;
  }

  >div:nth-of-type(1) {
    .box-content {
      margin-bottom: 3rem;
    }
  }
}

.mind-img {
  position: absolute;
  top: -27px;
  right: 25px;
  width: 80px;
}

.site-content {
  overflow: hidden;
  margin-top: 65px;
}

.circle-bigger,
.circle-big,
.circle-small {
  position: absolute;
  border-radius: 100%;
}

.circle-bigger {
  width: 94px;
  height: 94px;
}

.circle-big {
  width: 111px;
  height: 111px;
}

.circle-small {
  width: 64px;
  height: 64px;
  z-index: 2;
}



/*=============================================
=            NAVIGATION            =
=============================================*/

.site-header {
  background-color: #106F5E;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 888;

  .container {
    max-width: 1300px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: #fff;
    font-weight: 500;

    &:hover {
      color: $second-color;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
    }
  }

  ul,
  li {
    padding: 0;
  }

  li {
    margin-bottom: 0;

    a {
      padding: 10px 0;
      display: inline-block;
    }

    text-align: center;

    &:before {
      display: none;

    }
  }

  .wpml-ls-legacy-list-horizontal {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

.burger {
  cursor: pointer;

  >div {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 4px 0;

  }
}

.nav-close {
  position: absolute;
  top: 8px;
  right: -7px;
  font-size: 35px;
  color: white;
  transform: rotate(-45deg);
  padding: 20px;
  cursor: pointer;
}


.mobile-wrap {
  position: fixed;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  z-index: 999;
  background: $main-color;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;

  flex-direction: column;
  transition: height .5s linear;

  .navbar,
  .right-menu {
    opacity: 0;
    transition: opacity .5s linear;
  }

  .navbar {
    margin-top: 130px;
  }

  .right-menu {
    margin-bottom: 6rem;
  }

  &.height {
    height: 100%;
    transition: height .5s linear;

    .navbar,
    .right-menu {
      opacity: 1;
      transition: opacity .5s linear;
    }
  }
}

.lang {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;

  a {
    font-size: 14px;
    text-transform: uppercase;
  }

  .wpml-ls-legacy-list-horizontal .wpml-ls-item {
    .wpml-ls-native {
      position: relative;

      &:before {
        content: "";
        display: inline-block;
        height: 9px;
        width: 1px;
        background-color: white;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

      }

      margin-right: 7px;
      padding-right: 7px;
    }

    &:last-child {
      .wpml-ls-native {
        &:before {
          display: none;
        }
      }
    }
  }

  .wpml-ls-legacy-list-horizontal {
    padding: 0;
  }

  .wpml-ls-current-language a {
    color: $second-color;
  }

  .wpml-ls-display {
    display: none;
  }
}

.navbar-brand {
  width: 130px;
}

/*----------  Button  ----------*/

.btn-underline {
  font-size: 14px;
  font-family: $title-font;
  line-height: 28px;
  font-weight: 500;
}

.btn-full {
  font-size: 14px;
  font-weight: 600;
  font-family: $main-font;
  border-radius: 5px;
  padding: 18px 25px;
  color: #fff;
  display: inline-block;

  svg {
    width: 20px;
  }

  &:hover {
    &:after {
      animation: animation-arrow 2s infinite;
      -webkit-animation: animation-arrow 2s linear infinite;
    }

    background-color: $hover;
    color: $dark-green;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
}

@keyframes animation-arrow {
  0% {
    right: 20px;
  }

  50% {
    right: 15px;
  }

  100% {
    right: 20px;
  }
}

.btn-arrow {
  position: relative;
  padding-right: 55px;

  &:after {
    content: "";
    background-image: url('img/right-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.btn-dark {
  background-color: $dark-green;
}

.btn-light-green {
  background-color: $second-color;
  color: $dark-green;
}

.btn-green {
  background-color: $main-color;
}

.btn-link {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 28px;
  color: $dark-green;
  font-weight: 500;
  font-family: $title-font;
  padding: 6px 0;

  &:hover {
    color: $main-color;
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
  }
}

.btn-link_green {
  border-bottom: 2px solid $main-color;
}

.btn-link_light_green {
  border-bottom: 2px solid $second-color;
}

.btn-center {
  @include push--auto;
}


/*----------  hero section  ----------*/


.hero {
  height: 73vh;
  max-height: 508px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    font-size: 6rem;
    font-family: $title-font;
    line-height: 7rem;
    font-weight: 200;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 45px;
  }

  strong {
    color: $dark-green;
    display: inline-block;
    position: relative;
    font-weight: 200;

    &:after {
      content: "";
      height: 3px;
      width: 100%;
      background-color: $second-color;
      display: inline-block;
      position: absolute;
      bottom: -4px;
      left: 0;
    }
  }

  .shape1,
  .shape2 {
    position: absolute;
  }

  .shape1 {
    left: -50px;
    top: -69px;
    width: 200px;
  }

  .shape2 {
    bottom: -30px;
    right: -45px;
    width: 200px;
  }

  &.opacity {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(9, 152, 126, .75);
    }
  }
}

/*----------  cta box  ----------*/

.cta-box {
  padding: 4.4rem 0;

  * {
    color: #fff;
  }

  h3 {
    margin-bottom: 5px;
  }

  .img {
    margin-bottom: 20px;

    img {
      width: 60px;
    }
  }

  .btn-full {
    margin-top: 1.4rem;
  }

  .row>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

/*----------  team home  ----------*/

.team {
  .btn-link {
    display: block;
    width: 95px;
    text-align: center;
  }

  .more {
    transition: all 1s cubic-bezier(0, 1, 0, 1);
    margin-top: 3rem;
  }

  .morecontent span {
    display: none;
  }

  .morelink {
    padding: 0;
    margin-top: 3.5rem;
    transition: all 1s cubic-bezier(0, 1, 0, 1);
  }
}

.team-home {
  .btn-full {
    @include fluid-type(margin-top, 320px, 1366px, 3rem, 6rem);
  }
}

.team-home_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-home_title_box {
  margin-bottom: 9rem;
}

.team-home_box {
  display: block;
  overflow: hidden;
  width: 200px;
  @include push--auto;
  margin: 0 10px 20px 10px;
  position: relative;

  &:before {
    content: "";
    background-color: rgba(16, 111, 94, .75);
    position: absolute;
    opacity: 0;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .team-home_img {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;

    img {
      position: absolute;
      top: 0%;
      left: 50%;
      height: 320px;
      width: auto;
      max-width: initial;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }

  .team-home_content {
    max-width: 150px;
    margin: 0 auto;
    height: 120px;

    h6 {
      color: #106F5E;
      line-height: 26px;
      font-weight: 600;
      font-size: 18px;
      font-family: $main-font;
      margin: 0;
      text-transform: none;
    }

    hr {
      width: 15px;
      margin-left: auto;
      display: inline-block;
      border: none;
      height: 2px;
      background: $second-color;
      margin: 15px auto 3px;
    }

    p {
      font-size: 14px;
    }
  }

  a {
    display: block;
  }


}

.about-us {
  >.row:not(:last-child) {
    @include fluid-type(margin-bottom, 320px, 990px, 1.5rem, 14rem);
  }
}

/*----------  testimonial  ----------*/

.testimonial_wrap {
  margin-bottom: 3rem;
}

.testimonial {
  background-image: url('img/green-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  .shape1,
  .shape2 {
    position: absolute;
  }

  .shape1 {
    top: -57px;
    left: -30px;
    width: 40%;
    max-width: 326px;
  }

  .shape2 {
    right: -40px;
    bottom: -155px;
    width: 40%;
    max-width: 430px;
  }

  h2 {
    color: #fff;

    .mark {
      background-color: rgba(16, 72, 62, .22);
    }
  }

  .testimonial_box {
    background-color: #fff;
    padding: 9rem 4rem 4rem 4rem;
    max-width: 508px;
    margin: 0 auto;
  }

  .fade {
    max-height: 550px;
    overflow: hidden;
  }

  .testimonial_author {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    >div:nth-of-type(1) {
      width: 70%;
    }

    .testimonial_img {
      width: 51px;
      height: 51px;
      box-shadow: -8px 8px 0px -1px $second-color;
      background-size: cover;
      background-size: no-repeat;
    }
  }

  .paginator {
    margin-top: 3rem;
  }

  blockquote:not(.is-style-large) {
    position: relative;
    font-size: 14px;
    color: $dark-green;
    line-height: 22px;
    padding: 0;
    margin: 0;
    @include fluid-type(padding-bottom, 320px, 768px, 3rem, 6.6rem);

    &:before {
      content: "";
      background-image: url('img/blockquote.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 15px;
      top: -37px;
      color: $second-color;
      z-index: 0;
      transform: translate(-50%, -38%);
    }
  }

  h6 {
    color: #106F5E;
    ;
    line-height: 23px;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 14px;
    color: $light-grey;
  }
}

/*----------  footer  ----------*/

.site-footer {
  @include fluid-type(padding-top, 320px, 768px, 3rem, 5rem);
  @include fluid-type(padding-bottom, 320px, 768px, 3rem, 5rem);

  .container {
    max-width: 1260px;
  }

  .row {
    text-align: center;

    >div {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  strong {
    color: $dark-green;
  }

}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;

  >div {
    background-color: #106F5E;
    cursor: pointer;
    border-radius: 9px;
    width: 36px;
    color: #fff;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;

    &:hover {
      background-color: $hover;
      transition: all .3s;
      color: $dark-green;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
    }
  }
}


/*----------  slick slider  ----------*/

.pagingInfo,
.pagination-number {
  font-size: 16px;
  color: $dark-green;
  font-weight: 500;
  font-family: $title-font;
}

.pagination {
  padding-top: 4rem;
}

.paginator,
.pagination {
  position: relative;
  margin-bottom: 20px;
  max-width: 508px;
  margin: 0 auto;

  ul,
  ul.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    margin-top: 20px;
    position: relative;
    cursor: pointer;

    &.prev {
      display: block;
      height: 16px;
      width: 70px;
      background: url('img/slider-arrow-left.svg') no-repeat;
      background-size: contain;
      margin-right: 20px;
    }

    &.next {
      display: block;
      height: 16px;
      width: 70px;
      background: url('img/slider-arrow-right.svg') no-repeat;
      background-size: contain;
      margin-left: 20px;
    }
  }
}


/*=============================================
=            ABOUT PAGE            =
=============================================*/

.team {
  .team_image {
    margin-bottom: 3rem;
    @include aspect-ratio(100%);

    img {
      width: 100%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  .team_content {
    padding-left: 3rem;

    .subtitle {
      font-size: 14px;
      color: $light-grey;
    }

    .btn-link {
      font-size: 12px;
    }
  }

  .row {
    padding: 4rem 0;
    border-bottom: 1px solid rgba(152, 152, 152, .3);

    &:last-of-type {
      border: none;
    }
  }
}


/*=============================================
=            SERVICES            =
=============================================*/


.services {
  position: relative;

  .row {
    margin-bottom: 5rem;

    &:hover {
      .services_shapes {
        transform: scale(1.1);
        transform-origin: right;
        transition: transform .5s linear;
      }
    }
  }
}

.services .row,
.services-slider .container {

  &:nth-of-type(4n + 1) {
    background-color: $dark-green;

    h3,
    p,
    .btn-link {
      color: white;
    }

    .subtitle {
      color: $main-color;
    }
  }

  &:nth-of-type(2n + 2) {
    background-color: $background-color;

    .subtitle {
      color: $main-color;
    }
  }

  &:nth-of-type(3n + 3) {
    background-color: $main-color;

    h3,
    p,
    .btn-link {
      color: white;
    }

    .btn-link {
      border-color: $second-color;
    }

    .subtitle {
      color: $second-color;
    }
  }
}

.services-slider {
  .container {
    max-width: inherit;
    margin: 0 10px;
  }

  .paginator {
    @include fluid-type(margin-top, 320px, 1360px, 3rem, 5rem);
  }

  .center {
    max-height: 550px;
    overflow: hidden;
  }

  .subtitle {
    text-transform: none;
    @include fluid-type(font-size, 320px, 768px, 13px, 14px);
  }
}

.services_content {
  padding: 4rem 0;
  max-width: 470px;
}

.services_image {
  position: relative;
  overflow: hidden;
  padding: 0;

  .services_circle {
    height: 100%;
  }
}


.services_shapes {
  position: relative;
  height: 100%;
  transition: transform .5s linear;

  .circle-bigger {
    left: 14px;
    bottom: -75px;
    background-color: rgba(193, 218, 106, 0.8);
  }

  .circle-small {
    left: 68px;
    top: -28px;
    background-color: rgba(87, 172, 156, .8);
  }
}

.services-post_header {
  max-width: 650px;
  border-bottom: 1px solid #D8D8D8;
  @include push--auto;
  margin-bottom: 5rem;

  h1 {
    text-align: center;
    margin-bottom: 4rem;
  }

  p {
    @include fluid-type(font-size, 320px, 990px, 12px, 16px);
    @include fluid-type(padding-top, 320px, 990px, 7px, 13px);
    @include fluid-type(padding-bottom, 320px, 990px, 7px, 13px);
    color: $main-color;
    width: 49%;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #D8D8D8;
    margin: 0;

    &:nth-of-type(2n) {
      border: none;
    }
  }
}

/*----------  Editor  ----------*/


.editor {
  padding-bottom: 6rem;

  .entry-content {

    >p,
    >ul,
    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6 {
      max-width: 650px;
      @include push--auto;
    }
  }


  h5 {
    margin-bottom: 1.8rem;
    color: #106F5E;
    line-height: 29px;
  }

  h6 {
    color: #106F5E;
  }

  p,
  li {
    @include fluid-type(font-size, 320px, 1360px, 12px, 14px);
  }

  p {
    margin-bottom: 1.4rem;
  }

  li {
    &:last-of-type {
      margin-bottom: 0;
    }

    &:before {
      border: none;
      top: 12px;
      box-shadow: none;
    }
  }

  blockquote:not(.is-style-large),
  blockquote.is-style-large,
  ul {
    padding-bottom: 4rem;
    @include fluid-type(padding-bottom, 320px, 990px, 2rem, 4rem);
  }

  .wp-block-image {
    text-align: center;
  }

  .wp-block-columns {
    .wp-block-image {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  strong {
    color: $dark-green;
  }

  blockquote:not(.is-style-large) {
    position: relative;
    max-width: 517px;
    margin-top: 44px;
    @include push--auto;

    p {
      @include fluid-type(font-size, 320px, 1366px, 18px, 22px);
      line-height: 28px;
      color: $dark-green;
      font-weight: 500;
      text-align: center;
    }

    &:before {
      content: "";
      background-image: url('img/blockquote.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 50%;
      top: -22px;
      color: $second-color;
      z-index: 0;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }

  blockquote.is-style-large {

    p,
    strong {
      font-size: 16px;
      line-height: 24px;
      color: $dark-green;
      font-weight: 600;
      max-width: 600px;
      @include push--auto;
      text-align: center;
    }
  }
}

.border-box_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 0;

  .border-box {
    border: 2px solid $dark-green;
    padding: 2rem;
    margin-bottom: 3rem;
    max-width: 420px;

    h6 {
      color: $main-color;
      font-weight: 500;
      margin-bottom: 2rem;
      font-size: 20px;
    }

    strong {
      color: $dark-green;
    }
  }
}

.green-box {
  background-color: $main-color;
  padding: 3rem;

  *:not(strong) {
    color: #fff;
    text-transform: none;
  }

  strong {
    color: $second-color;
    font-size: 2.5rem;
    font-weight: 600;
  }

  p {
    font-size: 18px;
  }
}


/*=============================================
=            BLOG PAGE            =
=============================================*/

.blog-page {
  .blog-page_image {
    box-shadow: -8px 8px 0px -1px #09987E;
    height: 250px;
    margin-bottom: 3rem;
  }

  .row {
    padding: 4rem 0;
    border-bottom: 1px solid rgba(152, 152, 152, .3);

    &:last-of-type {
      border: none;
      padding-bottom: 0;
    }

    &:hover {
      h3 {
        color: $hover-green;
      }
    }
  }
}

.blog-page_content,
.services_content {
  h3 {
    @include fluid-type(margin-bottom, 320px, 1360px, 1rem, 1.3rem);
    text-transform: uppercase;
    @include fluid-type(line-height, 320px, 1360px, 26px, 30px);
  }

  p:not(.subtitle) {
    margin: 1.3rem 0;
  }
}

.subtitle {
  @include fluid-type(font-size, 320px, 990px, 13px, 14px);
  color: $light-grey;
  font-weight: 400;
  line-height: 18px;

  span {
    font-size: 14px;
    color: $main-color;
    font-weight: 600;
  }
}


/*=============================================
=            SINGLE POST            =
=============================================*/



.post-hero {
  height: 0;
  padding-bottom: 45%;
  position: relative;
  overflow: hidden;
  margin-bottom: 8rem;
  margin-top: 3rem;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
}

.border-shadow {
  box-shadow: -16px 16px 0px -1px $main-color;
}

.post-header {
  text-align: center;

  .subtitle {
    text-transform: uppercase;
  }

  hr {
    width: 60px;
    border: none;
    height: 3px;
    background-color: $main-color;
    margin: 3rem auto 3rem auto;
  }

  p:not(.subtitle) {
    color: $dark-green;
    font-weight: 600;
    max-width: 600px;
    @include push--auto;
  }
}


.post-author {
  padding: 5.4rem 0;
  text-align: center;
}

.post-author_image {
  width: 133px;
  height: 133px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  @include push--auto;
  margin-bottom: 2rem;

  img {
    max-width: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.post-author_content {
  span {
    color: $light-grey;
    font-size: 16px;
    font-family: $title-font;
    margin-bottom: 1rem;
    display: inline-block;
  }
}


.latest-post {
  border-top: 1px solid rgba(152, 152, 152, .3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  >a {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    max-width: 400px;
    position: relative;

    &:hover {
      h5 {
        color: #106F5E;
        transition: color .3s linear;
        -webkit-transition: color .3s linear;
        -moz-transition: color .3s linear;
        -ms-transition: color .3s linear;
        -o-transition: color .3s linear;
      }
    }

    .btn-link {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
    }
  }

  p {
    font-size: 14px;
  }

}

.latest-post_image {
  @include aspect-ratio(74%);
  margin-bottom: 3rem;
}


.curve-white,
.curve-grey {
  position: relative;

  &:before {
    height: 630px;
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    top: -50px;
    width: 200%;
    bottom: 0;
    border-radius: 100% 100% 0 0/28% 28% 0 0;
    -webkit-border-radius: 100% 100% 0 0/28% 28% 0 0;
    -moz-border-radius: 100% 100% 0 0/28% 28% 0 0;
    -ms-border-radius: 100% 100% 0 0/28% 28% 0 0;
    -o-border-radius: 100% 100% 0 0/28% 28% 0 0;
  }
}

.curve-white:before {
  background-color: white;
}

.curve-grey:before {
  background-color: $background-color;
}

button {
  display: block;
  margin: 5% auto 0;

  background: transparent;
  border: 2px solid #444;
  padding: 5px 10px;

  &.md-close {
    margin-top: 40px;
  }
}



/*----------  Icon  ----------*/

.icon-email,
.icon-location,
.icon-time-grey,
.icon-location-grey {
  position: relative;
  padding-left: 25px;

  &:before {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
  }
}

.icon-email {
  &:before {
    background-image: url('img/email-icon.svg');
  }
}

.icon-location {
  &:before {
    background-image: url('img/icon-location.svg');
  }
}

.icon-time-grey {

  &:before {
    background-image: url('img/icon-time.svg');
    width: 15px;
  }
}

.icon-location-grey {
  &:before {
    background-image: url('img/icon-location-grey.svg');
  }
}

/*=============================================
=            Contact page            =
=============================================*/



/*----------  Radio button style  ----------*/

input[type=submit] {
  margin-top: 2rem;
}

input[type=radio] {
  visibility: hidden;
  position: absolute;
}

.contact {
  form span.wpcf7-not-valid-tip {
    background-color: rgba(182, 224, 216, .3);
    color: #fff;
  }

  form div.wpcf7-validation-errors,
  form div.wpcf7-acceptance-missing,
  form div.wpcf7-mail-sent-ok {
    background-color: rgba(182, 224, 216, .3);
    color: #fff;
  }
}

.modal.container {
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow-y: scroll;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show {
  visibility: visible;
  z-index: 999;
}

.contact_info {
  padding-top: 12rem;
  padding-bottom: 6rem;
  min-height: 50vh;
  background-color: #106F5E;

  * {
    color: #fff;
  }

  .social-icon {
    margin-top: 4rem;
    justify-content: flex-start;
    margin-left: 13px;

    >div {
      background-color: rgba(9, 152, 126, .3);
    }
  }

  form textarea {
    height: 148px;
  }

  .shape1 {
    display: none;
  }

  .btn-link {
    font-size: 14px;
    font-family: $title-font;
    font-weight: 500;
  }

  .section-form_header {
    text-align: left;
  }

  .btn-full {
    color: $dark-green;
  }
}

.contact_info_inner {
  background-color: #115E4F;
  padding: 2rem;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  .btn-link {
    margin-left: 25px;
  }

  p {
    font-size: 14px;
  }


}

.contact_map {
  min-height: 50vh;
}

.contact_close {
  background-color: $second-color;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 31;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    color: $dark-green;
    display: inline-block;
    font-size: 60px;
    font-weight: 200;
    font-family: $title-font;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
}

.md-effect-12.modal {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show.md-effect-12.modal {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/*=============================================
=            EVENT PAGE            =
=============================================*/

.event-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .event {
    margin-bottom: 45px;
  }
}

.event {
  border: 2px solid $dark-green;
  position: relative;

  &:hover {
    border-color: $second-color;
    // border-color: $hover;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;

    // &.event_mark .event-header {
    //   background-color: $hover;
    //   transition: all .3s ease-in-out;

    //   * {
    //     color: $main-color;
    //   }
    // }
  }

}

.event-header {
  position: relative;
  padding-right: 90px;
  padding: 2.7rem;
}

.event_mark {
  border-color: $main-color;

  .event-header {
    background-color: $main-color;
    transition: all .3s ease-in-out;

    .event_data {
      * {
        color: #fff;
      }
    }

    .event-type {
      z-index: 2;
    }
  }

  h4 {
    color: $main-color;
  }
}

.event_type {
  color: #106F5E;
  background-color: #B6E0D8;
  padding: 2rem 1.6rem;
  position: absolute;
  top: 2.7rem;
  right: 0;
  font-size: 14px;
  font-weight: 600;
}

.event_data {
  color: $main-color;
  font-family: $title-font;
  font-weight: 500;
  display: flex;
  align-items: flex-start;

  .big,
  .small {
    display: inline-block;
    line-height: 13px;
  }

  .big {

    p {
      @include fluid-type(font-size, 320px, 990px, 35px, 48px);
      margin-right: 10px;
      margin-bottom: 3px;
      position: relative;
      top: 3px;
      font-weight: 500;
    }

    span {
      font-size: 16px;
    }
  }

  .small {
    font-size: 20px;
    font-weight: 600;
    text-align: right;

    span {
      font-weight: 500;
      font-size: 12px;
    }
  }

  em {
    position: relative;
    top: 8px;
    right: 3px;
  }
}

.event_content {
  padding: 2.7rem;

  h4 {
    line-height: 29px;
    margin-bottom: 2.4rem;
  }

  p {
    position: relative;
    padding-left: 25px;
    font-size: 14px;

    &:before {
      content: "";
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 5px;
    }

    &:nth-of-type(1) {

      &:before {
        width: 12px;
        height: 12px;
        background-image: url('img/event-time.svg');
      }
    }

    &:nth-of-type(2) {
      &:before {
        width: 14px;
        height: 14px;
        background-image: url('img/event-location.svg');
      }
    }
  }
}

.event-promo {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-bottom: 45px;
}

.event-promo_image {
  height: 230px;
}


/*=============================================
=            Event single page            =
=============================================*/

.event-single {
  .post-hero {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.event-single_inner {
  border: 2px solid $dark-green;
}

.event-single_header {
  @include fluid-type(margin-top, 320px, 990px, 3rem, 6rem);
  padding: 2rem;
  background-color: $main-color;

  h1 {
    @include fluid-type(font-size, 320px, 1360px, 26px, 30px);
    @include fluid-type(line-height, 320px, 1360px, 28px, 36px);
    font-weight: 400;
    margin-bottom: 4px;
  }

  *:not(.btn-full) {
    color: #fff;
  }

  .event-single_header_inner {
    padding: 3rem 0;

    p {
      max-width: 460px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
    }
  }
}

.event-single_top_info {
  margin-bottom: 4rem;
  @include fluid-type(margin-bottom, 320px, 990px, 2rem, 4rem);

  >div {
    padding: 2rem;

    &:nth-of-type(1) {
      border-bottom: 1px solid #D8D8D8;
    }
  }

  h5 {
    color: $light-grey;
  }
}

.event-author {
  border-top: 1px solid rgba(152, 152, 152, 0.3);

  .post-author_image {
    width: 200px;
    height: 200px;
  }

  h3 {
    margin-bottom: 3px;
  }

  em {
    color: $main-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  p {
    margin-top: 14px;
  }
}


/*=============================================
=            Share buttons            =
=============================================*/

.addtoany_shortcode {
  a[class^="a2a_button"] {
    display: flex;
    padding: 8px;
    margin: 0 10px;
    border-radius: 8px;
    background-color: #106F5E;
    float: left;

    &:hover {
      background-color: $hover;
      color: $dark-green;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;

      svg {
        width: 20px;
        height: 20px;
        path {
          fill: $dark-green;
        }
      }
      
      &:after {
        color: $dark-green;
      }
    }

    &:after {
      content: "Share";
      display: inline-block;
      margin-left: 8px;
      font-size: 14px;
      color: #fff;
      display: none;

    }

  }

  .post-author_content span {
    margin-bottom: 0;
  }
}

#share {
  margin-top: 6rem;

  .addtoany_list .addtoany_share {
    font-size: 14px;
    background-color: #fff !important;
    color: $dark-green;
    border-radius: 8px;
    padding: 10px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}

.post-author_content span {
  margin-bottom: 0 !important;
}


.a2a_menu {
  border: none;

  .a2a_svg svg {
    background-color: $main-color;
  }

  a {
    color: $dark-green !important;
    font-size: 12px !important;
    font-family: $main-font !important;
  }
}

.editor {
  #share {
    margin-top: 0;

    .addtoany_list .addtoany_share {
      background-color: #EFEFEF !important;

    }
  }
}